.wf-sku{
    /deep/ .wf-required{
        color:red;
    }
    /deep/ .avatar-uploader{
        width: 42px;
        margin: 0 auto;
    }
    /deep/ .base-input-code{
        input{
            border-radius: 4px;
            border: 1px solid #e2e2e2;
            padding: 7px 15px;
            width: 67px;
        }
    }
    /deep/ .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        height: 40px;
        line-height: 40px;
        width: 40px;
        display: table-cell;
        vertical-align: middle;
    }
    /deep/ .el-upload-list--picture-card .el-upload-list__item{
            height: 40px;
            line-height: 40px;
            width: 40px;
        }
    /deep/ .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    /deep/ .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
    /deep/ .avatar {
        width: 40px;
        display: block;
        max-height: 40px;
    }
    /deep/ .el-card__header{
        border-bottom: none;
    }
    .add-parent{
        .wf-add-btn{
            color: #2a94ff;
            width: 82px;
            border: 1px dashed #ccc;
            margin: 12px 0;
            cursor: pointer;
            padding-left: 5px;
            margin-top: 5px;
            margin-left: 1px;
            &:hover{
                border: 1px dashed #5a9cff;
                color:#5a9cff;
            }
            label{
                cursor: pointer;
            }
        }
        .jump{
            width: 135px;
            svg{
                vertical-align: middle;
            }
        }
        .children{
            width: 100px;
        }
    }
    .el-card{
        box-shadow: none; 
        margin-bottom: 10px;
        .el-card__body{
            padding: 20px 20px 0 20px;
        }
        .wf-card-children{
            .el-autocomplete{
                margin-right: 5px;
                margin-bottom: 5px;
            }
            .wf-icon-close{
                height: 40px;
                .el-icon-circle-close{
                    display:none;
                }
                &:hover{
                    .el-icon-circle-close{
                        display:block;
                        float: right;
                        top: -39px;
                        position: relative;
                        margin-left: 112px;
                        color: #ff5656;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .vip-price-setting{
        margin: 0 24px 0 12px;
        padding: 10px;
        border-left: 1px solid #F0F0F0;
        border-right: 1px solid #F0F0F0;
        border-bottom: 1px solid #F0F0F0;
        clear: both;
    }
}